<!doctype html>
<html>
<head><title>Timetables</title>
<script src="file:///D:/Web/JS/static/jquery-3.3.1.min.js"></script>
<script src="file:///D:/Web/JS/static/hello.js"></script>
<script src="file:///D:/Web/JS/static/helloloop.js"></script>
</head>
<body>
	<div id='container'>
		<div id='countries'>
			<div id='fr'>
				<div>France</div>
				<img src='static/flags/fr.gif'/>
			</div>
			<div id='fi'>
				<div>Finland</div>
				<img src='static/flags/fi.gif'/>
			</div>
		</div>
	</div>
	<p> SELECT ITEMS WITHIN ITEMS table#main td // select all td  elements withing the table with id main ul#nav li // select all li elements inside the ul named nav 
	SELECT ITEMS WITHIN ITEMS
table#main td // select all td elements withing the table with id main
ul#nav li // select all li elements inside the ul named nav
SELECT ITEMS WITHIN ITEMS
table#main td // select all td elements withing the table with id main
ul#nav li // select all li elements inside the ul named nav</p>
</body>
</html>