<!doctype html>
<html>
<head><title>Timetables</title>
<script src="static/jquery-3.3.1.min.js"></script>
<script src="static/new.js"></script>
</head>
<body>
<table id='tb' border="1">
	<h1>Timetables</h1>
	<caption>Schedule</caption>
	<tr class="t1" bgcolor="gray">
		<td></td>
		<td>9:00</td>
		<td>10:00</td>
		<td>11:00</td>
		<td>12:00</td>
		<td>13:00</td>
		<td>14:00</td>
		<td>15:00</td>
		<td>16:00</td>
	</tr>
	<tr>
		<th>Mon</th>
		<td colspan="2">INFO7105 ISO</td>
		<td class="t2" colspan="2">IMD07103 HCI</td>	 		
		<td></td>
		<td></td>
		<td></td>
		<td>SET07012SD</td>
	</tr>

	<tr>
		<th>Tue</th>
		<td></td>
		<td colspan="2">SET07102 SD</td>
		<td></td>
		<td></td>
		<td class="t2" colspan="2">IMD07103 HCI</td>
		<td></td>		
	</tr>
	<tr>
		<th>Wed</th>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>		
	</tr>
	<tr>
		<th>Thu</th>
		<td></td>
		<td colspan="2">INFO07105 ISO</td>
		<td>INFO07105 ISO</td>
		<td></td>
		<td class="t2" colspan="2">IMD07103 HCI</td>
		<td></td>		
	</tr>
	<tr>
		<th>Fri</th>
		<td></td>
		<td></td>
		<td></td>
		<td>SET07102 SD</td>
		<td>SET07102 SD</td>
		<td></t	d>
		<td></td>
		<td></td>		
	</tr>
	
</table>
<table id='key' border="1">
	<caption>Key</caption>
	<tr><th>HCI</th><td>Human Computer Interaction</td></tr>
	<tr><th>ISO</th><td>Information Systems in Organisation</td></tr>
	<tr><th>SD</th><td>Software Development</td></tr>
</table>
</body>
</html>